body {
  margin: 0;
  font-family: sans-serif;
  background: #e0f2fe;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  max-width: 400px;
  width: 90%;
  animation: fadeIn 0.6s ease;
}

img {
  width: 100%;
  border-radius: 16px;
}

#btn {
  display: flex;
  justify-content: space-around;
}
button {
  margin-top: 12px;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  background: #0ea5e9;
  color: white;
  width: 40%;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 24px;
  border-radius: 16px;
  max-width: 350px;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
