body {
  margin: 0;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, sans-serif;

  background: linear-gradient(
    180deg,
    #6fa0d6 0%,
    #f4efe6 40%,
    #f4efe6 60%,
    #6fa0d6 100%
  );
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  min-height: 100vh;
}

#info {
  display: flex;
  gap: 15px;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 85px);
  grid-template-rows: repeat(4, 85px);
  gap: 12px;

  padding: 12px;
  border-radius: 18px;
  background: #9687e1;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
}

.tile {
  width: 80px;
  height: 80px;
  background: rgba(232, 239, 20, 0.993);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: bold;
  color: #776e65;
  transition: transform 150ms ease;
}

.x2 {
  background-color: #e85e37;
  color: #e8eee2;
}

.x4 {
  background-color: #4087f0;
  color: #e8eee2;
}

.x8 {
  background-color: #e95fb6;
  color: white;
}

.x16 {
  background-color: #f59575;
  color: white;
}

.x32 {
  background-color: #f57c5f;
  color: white;
}

.x64 {
  background-color: #f65d3b;
  color: white;
}

.x128 {
  background-color: #edce71;
  color: white;
}

.x256 {
  background-color: #edcc63;
  color: white;
}

.x512 {
  background-color: #edc651;
  color: white;
}

.x1024 {
  background-color: #eec744;
  color: white;
}

.x2048 {
  background-color: #ecc230;
  color: white;
}

.x4096 {
  background-color: #fe3d3d;
  color: white;
}

.x8192 {
  background-color: #ff2020;
  color: white;
}

#info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 120px;
  padding: 10px 0;

  border-radius: 16px;
  background: #d6cdc3;
  color: #6b635c;

  font-size: 13px;
  font-weight: 600;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#score,
#best,
#time-min,
#time-sec {
  font-size: 22px;
  font-weight: bold;
  margin-top: 4px;
}

#time-box {
  line-height: 2px;
}
#total-Time {
  display: flex;
  flex-direction: row !important;
  border: none;
  box-shadow: none !important;
}

.score-red {
  color: rgb(236, 63, 63);
}
.score-yellow {
  color: rgb(155, 119, 2);
}
.score-green {
  color: rgb(5, 107, 5);
}

#btn {
  display: flex;
  gap: 30px;
}

#btn-newGame,
#btn-pause {
  border: none;
  cursor: pointer;
  width: 120px;
  padding: 10px 0;
  border-radius: 16px;
  background: #d6cdc3;
  color: #6b635c;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#btn-newGame:hover,
#btn-pause:hover {
  background-color: #ece0ca;
}
.game-over {
  position: absolute;
  inset: 0;
  background: rgba(238, 228, 218, 0.73);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.game-over h1 {
  font-size: 64px;
  color: #776e65;
  margin-bottom: 20px;
}

.game-over button {
  background: #8f7a66;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.game-over button:hover {
  background: #9f8b77;
}
